project/target
.bsp
.idea
target
.DS_Store
.vscode
.metals
node_modules
dist
.bloop/
.metals/
metals.sbt
project/metals.sbt
project/project/metals.sbt
*/metals.sbt
.cache
.history
.lib/
dist/*
target/
project/.sbt
sbt.json
project/project/
*.class
*.log
